<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/_layout :: head(${title})">
    <meta charset="UTF-8">
    <title>Devmaster</title>
</head>
<body>
<header th:replace="fragments/_layout :: header">
</header>

<section class="container" style="min-height: 250px">
    <div class="row">
        <h1> Đây là trang liên hệ</h1>
    </div>
    <!--        Sử dụng Menu Fragments / Chèn Menu-->
    <nav th:insert="fragments/_layout :: menu"></nav>
</section>

<footer th:replace="fragments/_layout :: footer">
    <h1>Devmaster</h1>
</footer>

</body>
</html>